
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title><%= content.title %></title>
    <meta charset="utf-8">

    <!--bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
        .custom-container {
            width: 100%;
            height: auto;
            padding-bottom: 15px;
            border-bottom: 1px solid rgb(11, 17, 46);
            margin-bottom: 15px;
        }
    </style>

</head>

<body>
    <div class="container">
        <div class="custom-container">
            <h1>
                <%= content.page %>
            </h1>
            <a href="/" type="button">principal</a>
            <a href="/report" type="button">reportar</a>
        </div>
        <p>
            <%= content.text.first %> 
        </p>
        <p>
            <%= content.text.second %> 
        </p>
        <p>
            <%= content.text.three %> 
        </p>
        <p>
            <%= content.text.four %> 
        </p>
        <p>
            <%= content.text.five %> 
        </p>
    </div>
</body>

</html>